.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap {
  background-color: transparent;
  outline: none;
  color: white;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.tiptap p {
  padding: 10px;
}
