.blogs {
  width: 800px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blogItem {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.blogStat {
  display: flex;
  align-items: center;
  gap: 6px;
}

.content {
  flex: 1;
  min-width: 0;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.heart {
  font-size: 2.4rem;
  color: var(--red);
}

.eye {
  color: var(--accent);
  font-size: 2.4rem;
}

.edit {
  color: var(--gray);
  font-size: 3.2rem;
}

.editButton {
  background-color: transparent;
  border: none;
}
